body{ 
margin: 10px ;
padding: 10px;
font-family: Arial, Helvetica, sans-serif ;
background-color: aqua;
color: rgb(40, 38, 43);
font-size:16px ; 
}
h1{font-family: monospace;
text-align: center;
font-size: 30px;
font-weight: bold;
color: blueviolet;
text-decoration: underline;
border:5px solid black ;
padding:10px ;
border-radius: 10px;
background-color: white;

}
nav a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px;
    color: rgb(28, 70, 207);
}
nav a:hover{
    font-size: 30px;
    color: azure;
}
nav a:visited{
    text-decoration: underline;
    color: royalblue;
}
